@model Core.Entities.Discipline

@{
    ViewBag.Title = "Delete";
}

<h2>Видалити</h2>

<h3>Ви впевнені?</h3>
<div>
    <h4>Дисципліна</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProviderCathedraId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProviderCathedraId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Semestr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semestr)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Видалити" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
