@model Core.Responces.GroupDisciplineModel

@{
    ViewBag.Title = "Details";
}

<h2>Деталі</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Semester)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semester)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lecturer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lecturer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProviderCathedra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProviderCathedra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Редагувати", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Список", "Index")
</p>
<div class="row">
    <div class="col-xs-12">
        <h2>Зареєстровані студенти</h2>
    </div>

    <table class="table">
        <tr>
            <th>
                Логін
            </th>

            <th>
                Ім'я
            </th>
            <th>
                Пошта
            </th>
            <th>
                Номер телефону
            </th>
            <th>
                Course
            </th>
        </tr>

        @foreach (var item in Model.Students)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course)
                </td>
            </tr>
        }
    </table>
</div>