@model IEnumerable<Core.Responces.DisciplineResponce>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm("Index", "Discipline", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            <div class="col-xs-3">
                <input type="text" name="Name" id="Name" placeholder="Назва" class="form-control form-group" />
                <input type="text" name="Semester" id="Semester" placeholder="Семестр" class="form-control form-group" />
            </div>

            <div class="col-xs-4">
                <select class="form-control" data-val="true" id="DisciplineType" multiple="multiple" name="DisciplineType">
                    <option value="0">Socio</option>
                    <option value="1">Special</option>
                </select>
            </div>
            <div class="col-xs-2">
                <input type="submit" value="Filter" class="btn btn-default submit">
            </div>
        </div>
    </div>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semester)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lecturer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProviderCathedra)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Semester)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lecturer.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProviderCathedra.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
