@model IEnumerable<Core.Entities.User>

@{
    ViewBag.Title = "Index";
}
<style>

</style>

<h2>Список людей</h2>
@using (Html.BeginForm("Index", "User", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            <div class="col-xs-3">
                <input type="text" name="UserName" id="UserName" placeholder="Ім'я" class="form-control form-group" />
                <input type="text" name="Email" id="Email" placeholder="Пошта" class="form-control form-group" />
            </div>
            <div class="col-xs-3">
                <input type="text" name="PhoneNumber" id="PhoneNumber" placeholder="Телефон" class="form-control form-group" />
                <input type="text" name="Course" id="Course" placeholder="Курс" class="form-control form-group" />
            </div>
            <div class="col-xs-4">
                <select class="form-control" data-val="true" id="Roles" multiple="multiple" name="Roles">
                    <option value="0">Student</option>
                    <option value="1">Lecturer</option>
                    <option value="2">Moderator</option>
                    <option value="3">Admin</option>
                </select>
            </div>
            <div class="col-xs-2">
                <input type="submit" value="Filter" class="btn btn-default submit">
            </div>
        </div>
    </div>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>