
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var settings = new { area = "Admin" };
}

@section Navigation{
    <li>@Html.ActionLink("Юзери", "Index", "User", settings, new { })</li>
    <li>@Html.ActionLink("Кафедри", "Index", "Cathedra", settings, new { })</li>
    <li>@Html.ActionLink("Дисципліни", "Index", "Discipline", settings, new { })</li>
    <li>@Html.ActionLink("Групи", "Index", "Group", settings, new { })</li>
}
@RenderBody()
