@model Courses_v2.Areas.Student.Models.StudentDisciplines
@using System.Linq;
@using Core.Entities;
@using Core;
@using Core.Responces;
@{
    ViewBag.Title = "Дисципліни";
}

<h2>Дисципліни</h2>

<table class="table">
    <tr>
        <th>
            Назва
        </th>
        <th>
            Семестр
        </th>
        <th>
            Лектор
        </th>
        <th>
            Кафедра-провайдер
        </th>
        <th>
            Зареєстровано
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Disciplines)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lecturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProviderCathedra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id })
                @if (!item.IsLocked && item.Registered)
                {
                    @:| @Html.ActionLink("Unregister", "Unregister", new { id = item.Id })
                }
                else if (item.CanRegister)
                {
                    @:| @Html.ActionLink("Register", "Register", new { id = item.Id })
                }

            </td>
        </tr>
    }

</table>
